.mu-box-shadow{
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
.mu-raised-button {
  display: inline-block;
  position: relative;
  height: 36px;
  line-height: 36px;
  min-width: 88px;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transform: translateZ(0px);
  text-decoration: none;
  text-transform: uppercase;
  -webkit-appearance: none;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.870588);
  -webkit-box-flex: 0;
  flex-shrink: 0;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  margin: 0px;
  outline: 0px;
  padding: 0px;
  text-align: center;
  color: #fff;
}
.mu-raised-button-primary {
  background-color: rgb(3, 169, 244);
}

.mu-log-panel{
  background-color: #000;
  border-radius: 5px;
  height: 400px;
  overflow: auto;
}
